In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('test.db')

In [4]:
#Create table
table = """CREATE TABLE IF NOT EXISTS user(
        id INTEGER PRIMARY KEY,
        name TEXT,
        email TEXT
        );"""
conn.execute(table)

In [5]:
#insert
insert = "INSERT INTO user VALUES(1,'Ony H', 'onyH@gmail.com')"
conn.execute(insert)

In [8]:
#insert
for i in range(2000,100000):
    j = str(i)
    insert = "INSERT INTO user VALUES("+j+",'Ony H"+j+"', 'onyH"+j+"@gmail.com')"
    conn.execute(insert)

In [18]:
#show data
rows = conn.execute("SELECT * FROM user")
for row in rows:
    string = str(row[0])+"  "+row[1]+"  "+row[2]
    print(string)

1  Ony Hoque  onyH@gmail.com
2  Ony H2  onyH2@gmail.com
3  Ony H3  onyH3@gmail.com
4  Ony H4  onyH4@gmail.com
5  Ony H5  onyH5@gmail.com
6  Ony H6  onyH6@gmail.com
7  Ony H7  onyH7@gmail.com
8  Ony H8  onyH8@gmail.com
9  Ony H9  onyH9@gmail.com

In [11]:
#update
update = "UPDATE user SET name='Ony Hoque' WHERE id=1"
conn.execute(update)

In [17]:
#delete
for i in range(10,100):
    delete = "DELETE FROM user WHERE ID="+str(i)
    conn.execute(delete)